@use 'index' as main;

header {
  nav {
    padding: 10px 0;
  }
  .image {
    &__logo {
      height: 48px;
    }

    &__phone {
      max-height: 24px;
    }

    &__location {
      max-height: 24px;
    }

    &__icon {
      border: 1px solid #686870;
      border-radius: 15px;
      padding: 15px;
      height: 20px;
      width: 20px;
    }
  }

  nav.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media (min-width: 600px) {
      justify-content: space-between;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
    }

    ul li {
      font-family: main.$fontTitle, serif;
      margin-right: 20px;
      font-size: 24px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: main.$fontColor;
        text-decoration: none;
        &:hover {
          transition: .2s;
          opacity: .7;
        }
      }
    }

    p {
      font-family: main.$fontTitle, serif;
      font-size: 15px;
      color: main.$fontColor;
      margin: 15px 0 5px 10px;

      a {
        color: main.$fontColor;
        text-decoration: none;

        &:hover {
          transition: .2s;
          opacity: .7;
        }
      }
    }

    .icon-block {
      display: flex;
      gap: 10px;

      a {
        &:not(:last-child) {
          margin-right: 10px;
        }
        &:hover {
          transition: .2s;
          opacity: .7;
        }
      }

      .basket-container {
        position: relative;

        .basket-icon {
          display: inline-block;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }

          .basket-image-icon {
            display: inline-flex;
            align-items: center;
            border: 1px solid #686870;
            border-radius: 15px;
            padding: 15px;
            height: 20px;
          }
        }

        .basket-dropdown {
          position: absolute;
          top: 100%;
          right: 0;
          background: #fff;
          border: 1px solid #ddd;
          border-radius: 8px;
          padding: 15px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          display: none;
          width: 300px;
          z-index: 100;

          ul {
            display: block;
          }

          .basket-item-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
          }

          .basket-item-image-wrapper {
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            overflow: hidden;
            margin-right: 10px;
          }

          .basket-item-image-wrapper img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .basket-item-info {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .basket-item-name{
            display: flex;
          }

          .basket-item-description {
            display: flex;
          }

          .remove-item {
            display: flex;
            background: none;
            border: none;
            color: #a00;
            width: 25px;
            height: 25px;
            font-size: 16px;
            cursor: pointer;
            padding: 5px;
            transition: color 0.2s ease-in-out;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
          }

          .remove-item:hover {
            background-color: black;
          }
        }

        &:hover .basket-dropdown {
          display: block;
        }
      }
    }
  }

  .background_grey {
    background-color: #ededed;
    padding: 15px 0 20px 0;
    .submenu {
      background-color: white;
      padding: 10px 47px;
      border-radius: 16px;
      div {
        text-align: center;
        .image {
          &__logo {
            height: 45px;
          }
        }
        a {
          text-decoration: none;
          p {
            color: main.$fontColor;
            font-family: main.$fontTitle, serif;
            font-size: 18px;
            margin: 0;
          }
          &:hover {
            transition: .2s;
            opacity: .7;
          }
        }
      }
    }
  }
}