@use 'index' as main;

//.cart-container {
//  min-height: 500px;
//
//  .cart__title {
//    font-family: main.$fontTitle, serif;
//    font-size: 36px;
//    color: main.$greenColor;
//  }
//
//  .text__empty {
//    font-family: main.$fontTitle, serif;
//    font-size: 28px;
//    color: main.$fontColor;
//    min-height: 80px;
//  }
//
//  .button__return {
//    background-color: main.$greenColor;
//    padding: 20px 85px;
//    border: none;
//    border-radius: 12px;
//    font-family: main.$fontTitle, serif;
//    font-size: 24px;
//    color: #ffffff;
//    cursor: pointer;
//    text-decoration: none;
//
//    &:hover {
//      transition: .2s;
//      opacity: .7;
//    }
//  }
//
//  .cart-item {
//    gap: 70px;
//    font-family: main.$fontTitle, serif;
//    font-size: 22px;
//    color: main.$greenColor;
//
//    a {
//      color: main.$greyColor;
//      text-decoration: none;
//
//      &:hover {
//        transition: .2s;
//        opacity: .7;
//      }
//    }
//  }
//
//  .decrease {
//    font-family: 'Arial', sans-serif;
//    cursor: pointer;
//    padding: 0 20px;
//
//    &:hover {
//      transition: .2s;
//      opacity: .7;
//    }
//  }
//
//  .increase {
//    font-family: 'Arial', sans-serif;
//    cursor: pointer;
//    padding: 0 20px;
//
//    &:hover {
//      transition: .2s;
//      opacity: .7;
//    }
//  }
//
//  .item__size {
//    font-size: 20px;
//    color: main.$greyColor;
//  }
//
//  .cart-item-actions {
//    line-height: 150px;
//
//    :not(:last-child) {
//      margin-right: 40px;
//    }
//
//    input {
//      border: none;
//      width: 30px;
//      font-family: main.$fontTitle;
//      font-size: 28px;
//    }
//  }
//
//  .promo {
//    font-family: main.$fontTitle, serif;
//    font-size: 24px;
//    align-items: end;
//
//    .coupon-add {
//      background-color: main.$greenColor;
//      height: 49px;
//      padding: 0 47px;
//      border: none;
//      border-radius: 12px;
//      font-size: 24px;
//      color: #ffffff;
//      cursor: pointer;
//      text-decoration: none;
//      font-family: main.$fontTitle, serif;
//
//      &:hover {
//        transition: .2s;
//        opacity: .7;
//      }
//    }
//
//    :not(:last-child) {
//      margin-right: 40px;
//    }
//
//    input {
//      padding: 15px;
//      border: 1px solid main.$greyColor;
//      border-radius: 5px;
//    }
//  }
//
//  .summary-total {
//    font-family: main.$fontTitle, serif;
//    color: main.$fontColor;
//    font-size: 24px;
//    margin-top: 50px;
//  }
//
//  .cart-actions {
//    margin-top: 20px;
//    align-items: center;
//
//    .ordering {
//      background-color: main.$greenColor;
//      padding: 15px 47px;
//      border: none;
//      border-radius: 12px;
//      font-size: 24px;
//      color: #fff;
//      cursor: pointer;
//      text-decoration: none;
//      font-family: main.$fontTitle, serif;
//
//      &:hover {
//        transition: .2s;
//        opacity: .7;
//      }
//    }
//
//    .continue {
//      text-decoration: underline;
//      border: none;
//      border-radius: 12px;
//      font-size: 24px;
//      color: main.$fontColor;
//      cursor: pointer;
//      font-family: main.$fontTitle, serif;
//
//      &:hover {
//        transition: .2s;
//        opacity: .7;
//      }
//    }
//
//    :not(:last-child) {
//      margin-right: 40px;
//    }
//  }
//}
//
//.checkout-page {
//  .title {
//    font-family: main.$fontTitle, serif;
//    font-size: 36px;
//    color: main.$fontColor;
//  }
//
//  .checkout {
//    font-family: main.$fontTitle, serif;
//    font-size: 24px;
//    color: main.$fontColor;
//  }
//}
//
//.woocommerce form .form-row .optional {
//  display: none;
//}

.basket {
  &__title {
    font-family: main.$fontTitle, serif;
    font-size: 36px;
    color: main.$greenColor;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__information {
    .item {
      a {
        img {
          @media (max-width: 1300px) {
            max-width: 65px;
          }
          @media (max-width: 500px) {
            max-width: 40px;
          }
        }
      }
    }

    .price {
      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
  }

  .name {
    font-family: main.$fontTitle, serif;
    font-size: 24px;
    color: main.$greyColor;
    align-items: center;
    width: 500px;
    place-content: space-between;
    @media (max-width: 1300px) {
      width: 100%;
    }
  }

  .weight {
    font-family: main.$fontTitle, serif;
    font-size: 20px;
    color: main.$greyColor;
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }

  .size {
    font-family: main.$fontTitle, serif;
    font-size: 20px;
    color: main.$greyColor;
    @media (max-width: 400px) {
      font-size: 16px;
    }
  }

  .item {
    img {
      max-width: 200px;
    }
  }

  .item__name {
    font-family: main.$fontTitle, serif;
    font-size: 24px;
    color: main.$greyColor;
    margin-left: 20px;
    @media (max-width: 1300px) {
      min-width: 225px;
    }
    @media (max-width: 768px) {
      line-height: 25px;
      min-width: 215px;
    }
    @media (max-width: 720px) {
      min-width: 240px;
    }
    @media (max-width: 660px) {
      min-width: 204px;
    }
    @media (max-width: 620px) {
      min-width: 170px;
    }
    @media (max-width: 565px) {
      font-size: 18px;
      min-width: 169px;
    }
    @media (max-width: 500px) {
      min-width: 130px;
    }
    @media (max-width: 400px) {
      margin-left: 10px;
      min-width: 100px;
      line-height: 20px;
    }
  }

  .additional {
    margin-top: 20px;

    .flex {
      align-items: end;
    }

    .add-sos {
      font-family: main.$fontTitle, serif;
      font-size: 24px;
      color: main.$fontColor;
      margin-left: 20px;
      align-items: center;

      img {
        max-width: 100px;
      }

      .flex {
        align-items: center;
      }

      .add-button-sos {
        color: main.$fontColor;
        font-family: "Arial", sans-serif;
        cursor: pointer;
        font-size: 28px;
        border: 1px solid main.$greenColor;
        background-color: main.$greenColor;
        padding: 0 12px;
        border-radius: 50%;

        &:hover {
          transition: .2s;
          opacity: .7;
        }
      }
    }

    .add-button {
      color: main.$fontColor;
      font-family: "Arial", sans-serif;
      cursor: pointer;
      font-size: 28px;
      border: 1px solid #ddd;
      background-color: #ddd;
      padding: 1px 12px;
      border-radius: 50%;

      &:hover {
        transition: .2s;
        opacity: .7;
      }
    }
  }

  .delivery-self {
    .active {
      background-color: main.$greenColor;
    }

    div {
      background-color: #eaeaea;
      color: main.$fontColor;
      font-family: main.$fontTitle, serif;
      cursor: pointer;
      padding: 0 20px;
      border-radius: 5%;

      &:hover {
        transition: .2s;
        opacity: .7;
      }
    }
  }

  .decrease {
    color: main.$greenColor;
    font-family: main.$fontTitle, serif;
    cursor: pointer;
    padding: 0 20px;

    &:hover {
      transition: .2s;
      opacity: .7;
    }

    @media (max-width: 565px) {
      padding: 0 10px;
    }
    @media (max-width: 400px) {
      padding: 0 5px;
    }
  }

  .increase {
    color: main.$greenColor;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    padding: 0 20px;

    &:hover {
      transition: .2s;
      opacity: .7;
    }

    @media (max-width: 565px) {
      padding: 0 10px;
    }
    @media (max-width: 400px) {
      padding: 0 5px;
    }
  }

  .delete {
    color: main.$greenColor;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    padding: 0 20px;

    &:hover {
      transition: .2s;
      opacity: .7;
    }

    @media (max-width: 400px) {
      padding: 0;
    }

    a {
      img {
        @media (max-width: 400px) {
          max-width: 15px;
        }
      }
    }
  }

  .basket__promo {
    font-family: main.$fontTitle, serif;
    font-size: 24px;
    align-items: end;
    @media (max-width: 500px) {
      font-size: 20px;
    }
    #coupon-input {
      @media (max-width: 400px) {
        max-width: 140px;
      }
    }
    .coupon-add {
      margin-left: 20px;
      background-color: main.$greenColor;
      height: 49px;
      padding: 0 47px;
      border: none;
      border-radius: 12px;
      font-size: 24px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      font-family: main.$fontTitle, serif;

      &:hover {
        transition: .2s;
        opacity: .7;
      }

      @media (max-width: 500px) {
        padding: 0 20px;
      }
      @media (max-width: 400px) {
        height: 43px;
        margin-left: 10px;
        font-size: 20px;
      }
    }

    .promo-input {
      :not(:last-child) {
        margin-right: 40px;
      }
    }


    input {
      padding: 5px;
      border: 1px solid main.$greyColor;
      border-radius: 5px;
    }
  }

  .total {
    color: main.$greenColor;
    font-family: main.$fontTitle, serif;
    margin-top: 20px;
  }

  .basket__delivery {
    margin-top: 20px;

    input {
      margin-bottom: 10px;
    }

    div {
      margin-top: 10px;

      :first-child {
        margin-right: 10px
      }
    }

    .delivery-information {
      min-width: 520px;
      margin-top: 10px;
      @media (max-width: 500px) {
        min-width: auto;
      }
    }

    input {
      width: 100%;
      display: block;
    }

    .hidden {
      display: none;
    }

    .ymaps-2-1-79-controls__toolbar_left {
      display: none;
    }
  }

  #quantityInput {
    @media (max-width: 560px) {
      width: 33px;
      font-size: 20px;
    }
    @media (max-width: 400px) {
      width: 25px;
      font-size: 18px;
    }
  }

  .complete-order {
    margin-top: 20px;
    background-color: main.$greenColor;
    height: 49px;
    padding: 0 47px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-family: main.$fontTitle, serif;

    &:hover {
      transition: .2s;
      opacity: .7;
    }

    &.disabled {
      opacity: .3;
    }
  }

  .payment-type {
    label {
      display: flex;

      input {
        width: 20px;
        margin: 0 40px 0 0;
      }
    }
  }

  .basket-mobile-flex {
    @media (max-width: 1400px) {
      padding: 0 10px;
    }
    @media (max-width: 1300px) {
      display: block;
      padding: 0 10px;
      margin-bottom: 80px;
    }
    @media (max-width: 500px) {
      margin-bottom: 30px;
    }
  }

  .additional {
    .add-sos {
      .grid-third {
        img {
          @media (max-width: 1300px) {
            max-width: 70px;
          }
          @media (max-width: 400px) {
            max-width: 40px;
          }
        }

        .name {
          @media (max-width: 1300px) {
            max-width: 130px;
            line-height: 25px;
          }
          @media (max-width: 500px) {
            min-width: 100px;
            margin-left: 0;
            font-size: 20px;
          }
          @media (max-width: 400px) {
            min-width: 95px;
          }
        }

        @media (max-width: 1300px) {
          grid-template-columns: 100px 220px 100px;
        }
        @media (max-width: 500px) {
          grid-template-columns: 100px 90px 100px;
        }
        @media (max-width: 400px) {
          grid-template-columns: 50px 90px 100px;
        }
      }
    }
  }
}

.hidden-basket {
  display: none;
}

.delivery-info {
  font-size: 18px;
  font-weight: normal;
}

.grid-third {
  display: grid;
  grid-template-columns: 100px 400px 100px;

  .name {
    margin: auto 0 auto 20px;
  }

  .price {
    margin: auto;
  }
}

#map {
  width: 100%;
  height: 500px;
}

#notice {
  color: #f33;
  display: none;
}

.tmp-basket {
  display: block;

  .basket-container {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: CyrillicOld, serif;
    font-size: 48px;
    color: #1d1d1f;
    line-height: 80px;
    justify-self: center;
    margin: 200px 0;

    @media (max-width: 500px) {
      padding: 15px;
    }
  }
}