//@charset "UTF-8";
@use "header";
@use "footer";
@use 'main-page';
@use 'cart';
@use 'product-page';
@use 'thank-you-page';

@font-face {
  font-family: CyrillicOld;
  src: url(../fonts/CyrillicOld/CyrillicOld.otf);
  ascent-override: 90%;
  descent-override: 20%;
}

.flex {
  display: flex;
}

.container {
  max-width: 1400px;
  &__submenu {
    max-width: 1000px;
  }
  @media (max-width: 1300px) {
    max-width: 1100px;
  }
  @media (max-width: 1100px) {
    max-width: 900px;
  }
  @media (max-width: 890px) {
    padding: 0 10px;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}

.pizza {
  .container {
    padding: 0 20px;
  }
}

.center {
  margin: 0 auto;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
  &__two {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.justify-content {
  justify-content: space-between;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 0;
}

.pizza__size {
  display: flex;
  gap: 10px; /* Расстояние между тоглами */
}
.size-toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Увеличена ширина для отображения цены */
  height: 40px; /* Высота тогла */
  border: 2px solid #efefef; /* Цвет границы */
  border-radius: 20px; /* Скругление для тогла */
  background-color: #efefef; /* Цвет фона */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
}

.size-toggle input {
  display: none; /* Скрываем стандартный input */
}

.size-toggle span {
  color: #333; /* Цвет текста */
  pointer-events: none; /* Отключаем взаимодействие с текстом */
}

.size-toggle:hover {
  //border-color: #bbb; /* Цвет границы при наведении */
}

.size-toggle input:checked + span {
  width: 100%;
  background-color: #efefef;
}

.variation-container {
  .pizza__price {
    display: none;
  }

  .pizza__price.active {
    display: flex;
  }
}